<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div style="margin-bottom:10px;">
  <a [routerLink]="['/']" >Home</a> |
  <a [routerLink]="['/component1/123']" [queryParams]="{qp1: 'one'}" routerLinkActive="">Basic Route 1</a> |
  <a [routerLink]="['/component1/456']" [queryParams]="{qp1: 'two'}" routerLinkActive="">Basic Route 2</a> |
  <a [routerLink]="['/component2/bob']" [queryParams]="{lname: 'barker'}" routerLinkActive="">Basic Child Route</a> |
  <a [routerLink]="['/feature3']" routerLinkActive="">Lazy Load Route</a>
</div>


<div style="border: 2px solid darkgray; padding:2em;">
  <router-outlet ></router-outlet>
</div>
